<div class="contents">
<% posts.each do |post| %>
<%@musics = sp_list(post.url)%>
<%if @musics.present?%>
  <div class="content">
    <div class="top-content">
    <h2><%= post.title%></h2>
<%= link_to post.user.name, user_path(post.user_id), class:"user"%></a>
    </div>
    <div class="play-list">
      <div class="left-contents">
        <%if post.image.present?%>
          <%= link_to (image_tag (post.image),class: "list-img"), post_path(post.id) %>
        <%end%>
        <% post.tag_list.each do |tag| %>
          <div class="hash-name">
            <span class = "hash" >#</span><%= link_to tag, root_path(tag_name: tag), class:"user" %>
          </div>
        <%end%>
      </div>
      <ul class="musics">
      <%@musics.length.times do |i|%>
        <li><%=@musics[i].name%></li>
      <%end%>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>  
</div>