<div class = "contents">
  <% posts.each do |post|%>
      <div class="content">
        <div class="top-content">
          <h2><%= post.title%></h2>
          <%= link_to "作成者：#{post.user.name}", user_path(post.user_id), class:"user"%></a>
        </div>
        <div class="play-list">
          <div class="left-contents">
              <%= link_to (image_tag (post.image),class: "list-img"), post_path(post.id) %>
            <% post.tag_list.each do |tag| %>
              <div class="hash-name">
                <span class = "hash" >#</span><%= link_to tag, root_path(tag_name: tag), class:"user" %>
              </div>
            <%end%>
          </div>
          <ul class="musics">
          <% post.musics.first(10).each do |music|%>
            <li><%= music.track %></li>
          <% end %>
          </ul>
        </div>
        
        <% if user_signed_in?%>
        <div class="favorite">
          <div id="likes_btn_<%=post.id%>" >
            <%= render "likes/like", post: post%>
          </div>
        </div>
        <%else%>
        <div class="favorite">
          <i class="fa fa-heart" aria-hidden="true" style="color: gray;"></i>
          <span class="like"><%= post.likes.count %></span>
        </div>
        <%end%>
        
      </div>
    <% end %>
</div>
