<%= render "shared/header" %>

<div class="contents">
  <div class="content">
    <div class="top-content">
    <h2>ホルモン</h2>
    <a href="#" class="user">user-name</a>
    </div>
    <div class="play-list">
      <%= image_tag "jacket.jpg", class: "list-img"%>
      <ul class="musics">
        <li>ぶっ生き返す！！</li>
        <li>絶望ビリー</li>
        <li>ルイジアナ・ボブ </li>
        <li>シミ </li>
        <li>恋のメガラバ </li>
      </ul>
    </div>
    <div class="bottom-contents">
    <%=link_to image_tag("app-m.png", class:"icons"), "#" %>
    <%=link_to image_tag("spotify.png", class:"icons"), "#" %>
    <%=link_to image_tag("y-m.png", class:"icons"), "#" %>
    </div>
  </div>

  <div class="content">
    <div class="top-content">
      <h2>ELLE GARDEN</h2>
      <a href="#" class="user">user-name</a>
    </div>
      <div class="play-list">
        <%= image_tag "elle.jpg", class: "list-img"%>
        <ul class="musics">
          <li>Red Hot</li>
          <li>モンスター</li>
          <li>虹 </li>
          <li>Missing </li>
          <li>Marry Me </li>
        </ul>
      </div>
      <div class="bottom-contents">
      <%=link_to image_tag("app-m.png", class:"icons"), "#" %>
      <%=link_to image_tag("spotify.png", class:"icons"), "#" %>
      <%=link_to image_tag("y-m.png", class:"icons"), "#" %>
  </div>
</div>