<%= render partial:"shared/header" %>

<%= form_with model:@post, local: true  do |form| %>
<div class="form">

  <%= form.text_field :title, placeholder: "プレイリストのタイトルを入力してください", class:"post-form" %>
  <%= form.text_field :url, placeholder:"音楽のURLを入力してください", rows: "1", class:"post-form" %>
  <p>プレイリストのイメージ画像を添付してください</p>
  <%= form.file_field :image %>
  <%= form.submit "SEND" , class:"form-btn"%>
  </div>
<% end %>