<div class="contents-show">
<%@musics = sp_list_full(@post.url)%>
<%if @musics.present?%>
  <div class="content-show">
    <div class="top-content-show">
      <h2 class="title-show"><%= @post.title %></h2>
      <div class="user-show">
      <%= link_to "by #{@post.user.name}",user_path(@post.user_id), class:"show-name"%>
      <% if @post.user.image.present?%>
      <%=image_tag @post.user.image.variant(resize: '50x50'), class:"user-icon"%>
      <%end%>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more-show">
      <%= link_to "編集",edit_post_path(@post.id), class:"edit"%>
      <%= link_to "削除",post_path(@post.id), method: :delete, class:"edit"%>
    </div>
    <% end %>
      <%if @post.image.present?%>
        <%= link_to (image_tag (@post.image),class: "list-img-show"), post_path(@post.id) %>
      <%end%>
      <div class="link-show">
        <%= link_to "spotifyで聴く", "https://open.spotify.com/playlist/#{@post.url}", class:"text-show"%>
      </div>
    <div class="hash-name-show">
      <% @post.tag_list.each do |tag| %>
        <span class = "hash" >#</span><%= link_to tag, root_path(tag_name: tag), class:"tag-show" %>
      <%end%>
    </div>
    <ul class="musics-show">
      <%@musics.length.times do |i|%>
        <li><%= @musics[i].name %></li>
      <%end%>
    </ul>
    <div class= "bottom-contents-show">
      <%if user_signed_in?%>
      <div id="likes_btn_<%=@post.id%>" >
        <%= render "likes/like", post: @post%>
      </div>
      <%else%>
        <i class="fa fa-heart fa-2x" aria-hidden="true" style="color: gray;"></i>
        <span class="like"><%= @post.likes.count %></span>
      <%end%>
      <a href="https://twitter.com/intent/tweet?text=ShareMusicから共有%0d&hashtags=<%=@post.tag_list[0]%>,ShareMusic%0d&url=https://share-music.herokuapp.com/posts/<%=@post.id%>">
        <i class="fab fa-twitter fa-2x twitter" aria-hidden="true" style="color: #00acee;"></i>
      </a>
      <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="http://localhost:3000/posts/5" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
  </div>
  <% end %>

</div>